body {
    background-color: #eee;
    margin: auto;
    max-width: 50em;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #333;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
}

.menu {
    width: auto;
    padding: 8px;
    margin: 10px 100px;
    background-color: #ddd;
    border-style: solid;
    border-color: #aaa;
    border-width: 2px;
    border-radius: 20px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.box {
    margin: 10px 0px;
    padding: 0px 8px;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    border-radius: 10px;
}

a.mlink {
    text-decoration: none;
    color: rgb(47, 79, 51);
}