body {
    background-color: #eee;
    margin: auto;
    max-width: 50em;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #333;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #333;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
}

a {
    color: rgb(66, 119, 73);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.mlink {
    text-decoration: none;
    color: rgb(47, 79, 51);
}

input[type=submit] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #ddd;
    padding: 8px 15px;
    border-style: solid;
    border-radius: 20px;
    border-color: #666;
    border-width: 1px;
    cursor: pointer;
}

input[type=text], input[type=password], textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #f3f2f2;
    margin: 8px 0px;
    padding: 8px;
    min-width: 30%;
    border-style: solid;
    border-radius: 2px;
    border-color: #666;
    border-width: 1px;
}

.check {
    width: 180px;
    padding: 1px;
    margin: 2px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
    float: left;
}

.menu {
    width: auto;
    padding: 8px;
    margin: 10px 100px;
    background-color: #ddd;
    border-style: solid;
    border-color: #aaa;
    border-width: 2px;
    border-radius: 20px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

.box {
    margin: 10px 0px;
    padding: 0px 8px;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    border-radius: 10px;
}

.profile_picture {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    padding: 0px;
    text-align: center;
    float: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50%);
}

.no_prof_pic {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 75px;
    background-color: #aaa;
    float: left;
}

.choose_default_prof_pic {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-bottom: 15px;
}

table {
    border: none;
    text-align: center;
}

.er_message {
    width: 50%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: rgb(221, 153, 153);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(192, 57, 57);
    border-width: 2px;
}

.message {
    width: 50%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: rgb(172, 202, 177);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(47, 79, 51);
    border-width: 2px;
}

.genres {
    width: fit-content;
    padding: 2px 15px;
    margin: 5px 1px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(140, 110, 170);
    border-radius: 8px;
    background-color: rgb(176, 147, 206);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 5px rgb(78, 53, 100);
}