{% extends "layout.html" %}

{% block title %}Lisää profiilikuva{% endblock %}

{% block content %}

<h1> Lisää profiilikuva </h1>

<h2> Valitse tiedostoista </h2>

{% for message in get_flashed_messages(category_filter=["error"]) %}
<div class="er_message">
    {{ message }}
</div>
{% endfor %}

<form action="/add_image", method="post" enctype="multipart/form-data">
    <p>
        <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
</form>

<h2> Valitse valmiista kuvista </h2>

<form action="/add_image_default", method="post">
<table>
    <tr>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image01.png"
            alt="Profiilikuvavaihtoehto 1: kaksi kalaa"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image01.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image02.png"
            alt="Profiilikuvavaihtoehto 2: lintu"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image02.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image03.png"
            alt="Profiilikuvavaihtoehto 3: nainen tähtitaustalla"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image03.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image04.png"
            alt="Profiilikuvavaihtoehto 4: raidallinen kala"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image04.png" /></div>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image05.png"
            alt="Profiilikuvavaihtoehto 5: mursun luuranko"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image05.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image06.png"
            alt="Profiilikuvavaihtoehto 6: kolme lintua"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image06.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image07.png"
            alt="Profiilikuvavaihtoehto 7: mies hassulla kampauksella"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image07.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image08.png"
            alt="Profiilikuvavaihtoehto 8: kaktus"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image08.png" /></div>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image09.png"
            alt="Profiilikuvavaihtoehto 9: miehen pää tarjottimella"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image09.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image10.png"
            alt="Profiilikuvavaihtoehto 10: läpinäkyvä henkiolento"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image10.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image11.png"
            alt="Profiilikuvavaihtoehto 11: nuori mies ja piippu"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image11.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image12.png"
            alt="Profiilikuvavaihtoehto 12: kukka ja perhonen"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image12.png" /></div>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image13.png"
            alt="Profiilikuvavaihtoehto 13: koppakuoriaismies"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image13.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image14.png"
            alt="Profiilikuvavaihtoehto 14: tyttölapsi ja ämpäri"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image14.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image15.png"
            alt="Profiilikuvavaihtoehto 15: apina ratsastamassa otuksella"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image15.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image16.png"
            alt="Profiilikuvavaihtoehto 16: lettipäinen tyttölapsi"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image16.png" /></div>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image17.png"
            alt="Profiilikuvavaihtoehto 17: terrieri"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image17.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image18.png"
            alt="Profiilikuvavaihtoehto 18: paratiisi"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image18.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image19.png"
            alt="Profiilikuvavaihtoehto 19: keskiajan nainen"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image19.png" /></div>
            <br />
        </td>
        <td>
            <div class="choose_default_prof_pic">
            <img src="/static/image20.png"
            alt="Profiilikuvavaihtoehto 20: puoliksi avoin silmä"
            width="150"
            height="150" />
            <input type="radio" name="image" value="image20.png" /></div>
            <br />
        </td>
    </tr>
</table>
<input type="submit" value="Lähetä" />
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

{% endblock %}