{% extends "layout.html" %}

{% block title %}Uusi kirjakerho{% endblock %}

{% block content %}

<h1> Luo uusi kirjakerho </h1>

{% if session.username %}
<form action="/create_club" method="post">
    <p>
        Kirjan nimi: <br />
        <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
        Kirjoittaja: <br />
        <input type="text" name="author" maxlength="50" required />
    </p>
    <p>
        Viimeinen osallistumispäivä: <br />
        <input type="text" name="deadline" />
    </p>
    <input type="submit" value="Luo kirjakerho" />
</form>

{% else %}

<p>
    <a href="/login">Kirjaudu sisään</a>
</p>

{% endif %}

{% endblock %}