{% extends "layout.html" %}

{% block title %}Kirjakerhon muokkaus{% endblock %}

{% block content %}

<h1>Kirjakerhon muokkaus</h1>

<form action="/edit_club/{{bookclub.id}}" method="post">
    <p>
        Kirjan nimi: <br />
        <textarea name="title" rows="1" cols="40" maxlength="50" required>{{bookclub.title}}</textarea>
    </p>
    <p>
        Kirjoittaja: <br />
        <textarea name="author" rows="1" cols="40" maxlength="50" required>{{bookclub.author}}</textarea>
    </p>
    <p>
        Viimeinen osallistumispäivä: <br />
        <textarea name="deadline" rows="1" cols="40">{{bookclub.deadline}}</textarea>
    </p>
    <input type="submit" value="Lähetä" />
    <input type="submit" name="back" value="Peruuta">
</form>

{% endblock %}