{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}

{% for message in get_flashed_messages(category_filter=["message"]) %}
<div class="message">
    {{ message }}
</div>
{% endfor %}

<h1> Kirjakerhot </h1>

{% for club in bookclubs %}
<div class="box">
    <p>
        <a href="/bookclub/{{ club.id }}">{{club.title}}</a>, {{ club.author }}
    <br />
    Lähettänyt <a href="/user/{{ club.user_id }}">{{ club.username }}</a> 
    </p>
</div>
{% endfor %}

{% if page_count > 1 %}
<p style="font-size: 13px;">
    {% if  page > 1 %}
    <span class="page_navi">
        <a id="next_prev" href="/1">&lt;&lt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/{{ page - 1 }}">&lt;</a></span>
    {% endif %}
    Sivu {{ page }} / {{ page_count }}
    {% if page < page_count %}
    <span class="page_navi">
        <a id="next_prev" href="/{{ page + 1 }}">&gt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/{{ page_count }}">&gt;&gt;</a></span>
    {% endif %}
</p>
{% endif %}

{% endblock %}