<!DOCTYPE html>
<html>

<head>
    <title>Etusivu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="menu">
        <a class="mlink" href="/">Etusivu</a> |
        <a class="mlink" href="/">Haku</a> |

        {% if session.username %}
        <a class="mlink" href="/create_club">Luo kirjakerho</a> |
        <a class="mlink" href="/logout">Kirjaudu ulos</a> 
        {% else %}
        <a class="mlink" href="/register">Rekisteröidy</a> |
        <a class="mlink" href="/login">Kirjaudu sisään</a> 
        {% endif %}
        {% if session.username %}
        <p style="font-size: 12px; margin-bottom: 0px;"> Olet kirjautunut sisään käyttäjätunnuksella {{ session.username }} </p>
        {% endif %}
    </div>

    <h1> Etusivu </h1>
    <p> Tervetuloa kirjakerhoon! </p>

    {% for club in bookclubs %}
    <p>
        <a href="/bookclub/{{ club.id }}">{{club.title}}</a>, {{ club.author }}
    </p>
    <p>Lähettänyt {{ club.username }}</p>
    <hr />
    {% endfor %}
</body>

</html>