<!DOCTYPE html>
<html>

<head>
    <title>Etusivu</title>
</head>

<body>
    <p>
        <a href="/register">Rekisteröidy</a>
    </p>
    {% if session.username %}
    <p> Olet kirjautunut sisään käyttäjätunnuksella {{ session.username}} </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}
    <form action="/login" method="post">
        <p>
            Käyttäjätunnus: <br />
            <input type="text" name="username" />
        </p>
        <p>
            Salasana: <br />
            <input type="password" name="password" />
        </p>
        <input type="submit" value="Kirjaudu" />
    </form>
    {% endif %}
</body>

</html>