{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
    
{% if session.username %}
<p> Olet jo kirjautunut sisään käyttäjätunnuksella {{ session.username}} </p>
<p>
    <a href="/logout">Kirjaudu ulos</a>
</p>
{% else %}

{% for message in get_flashed_messages(category_filter=["message"]) %}
<div class="message">
    {{ message }}
</div>
{% endfor %}

<h1>Kirjaudu sisään</h1>

{% for message in get_flashed_messages(category_filter=["error"]) %}
<div class="er_message">
    {{ message }}
</div>
{% endfor %}

<form action="/login" method="post">
    <p>
        <label for="username">Käyttäjätunnus:</label> <br />
        <input id="username" type="text" name="username" />
    </p>
    <p>
        <label for="password">Salasana:</label> <br />
        <input id="password" type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu sisään" />
</form>
{% endif %}
{% endblock %}