{% extends "layout.html" %}

{% block title %}Luo uusi käyttäjätunnus{% endblock %}

{% block content %}

<h1>Luo uusi käyttäjätunnus</h1>

{% if session.username %}
<p> <a href="/logout">Kirjaudu ulos</a> luodaksesi uuden tunnuksen. </p>
{% else %}

{% for message in get_flashed_messages() %}
<div class="er_message">
    {{ message }}
</div>
{% endfor %}

<form action="/create_user" method="post">
    <p>
        Käyttäjätunnus: <br />
        <input type="text" name="username" />
    </p>
    <p>
        Salasana: <br />
        <input type="password" name="password1" />
    </p>
    <p>
        Salasana uudelleen: <br />
        <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
</form>
{% endif %}
{% endblock %}