<!DOCTYPE html>
<html>

<head>
    <title>Rekisteröityminen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <p>
        <a href="/">Takaisin etusivulle</a>
    </p>
    <form action="/create_user" method="post">
        <p>
            Käyttäjätunnus: <br />
            <input type="text" name="username" />
        </p>
        <p>
            Salasana: <br />
            <input type="password" name="password1" />
        </p>
        <p>
            Salasana uudelleen: <br />
            <input type="password" name="password2" />
        </p>
        <input type="submit" value="Luo tunnus" />
    </form>
</body>

</html>