{% extends "layout.html" %}

{% block title %}Poista käyttäjätunnus{% endblock %}

{% block content %}

<h1>Poista käyttäjätunnus</h1>
<p>
    <label for="remove">Haluatko varmasti poistaa käyttäjätunnuksen? Poistamista ei voi peruuttaa.</label>
</p>

<form action="/remove_user/{{ user.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input id="remove" type="submit" name="remove" value="Poista käyttäjätunnus">
    <input type="submit" name="back" value="Peruuta">
</form>
{% endblock %}