{% extends "layout.html" %}

{% block title %}Haku{% endblock %}

{% block content %}

<h1>Haku</h1>

<form action="/search" method="get">
    <p>
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
        <input type="submit" value="Hae" />
    </p>
</form>

{% if query %}
<h1>Hakutulokset</h1>

{% if results %}
{% for result in results %}
<p>
    <a href="/bookclub/{{ result.id }}">{{ result.title }}</a>, {{ result.author }}
    <br />
    {{ result.username }}
</p>
{% endfor %}
{% else %}
<p>
    Hakusanalla <i>{{ query }}</i> ei löytynyt kirjakerhoja.
</p>
{% endif %}
{% endif %}
{% endblock %}