{% extends "layout.html" %}

{% block title %}Hae kirjakerhoista{% endblock %}

{% block content %}

<h1>Hae kirjakerhoista</h1>

<form action="/search" method="get">
    <p>
        {% if query %}
        <input id="text_search" type="text" name="query" value="{{ query }}" />
        {% else %}
        <input id="text_search" type="text" name="query" />
        {% endif %}
        <select name="query_from" id="query_from">
            {% if q_from == "title" %}
            <option value="title" selected>kirjan nimi</option>
            {% else %}
            <option value="title">kirjan nimi</option>
            {% endif %}
            {% if q_from == "author" %}
            <option value="author" selected>kirjailija</option>
            {% else %}
            <option value="author">kirjailija</option>
            {% endif %}
            {% if q_from == "user" %}
            <option value="user" selected>käyttäjä</option>
            {% else %}
            <option value="user">käyttäjä</option>
            {% endif %}
            {% if q_from == "genre" %}
            <option value="genre" selected>genre</option>
            {% else %}
            <option value="genre">genre</option>
            {% endif %}
        </select>
        <input id="submit_search" type="submit" value="Hae" />
    </p>
</form>

{% if query %}
<h2>Hakutulokset</h2>

{% if results %}
<p>
    Hakusanalla <i>{{ query }}</i> löytyi {{ query_count }} tulosta.
</p>
{% for result in results %}
<div class="box">
    <p>
        <a href="/bookclub/{{ result.id }}">{{ result.title }}</a>, {{ result.author }}
        <br />
        Lähettänyt {{ result.username }}
    </p>
</div>
{% endfor %}

{% if page_count > 1 %}
<p style="font-size: 13px;">
    {% if page > 1 %}
    <span class="page_navi">
        <a id="next_prev" href="/search?query={{ query }}&query_from={{ q_from }}&page=1">&lt;&lt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/search?query={{ query }}&query_from={{ q_from }}&page={{ page - 1 }}">&lt;</a></span>
    {% endif %}
    Sivu {{ page }} / {{ page_count }}
    {% if page < page_count %}
    <span class="page_navi">
        <a id="next_prev" href="/search?query={{ query }}&query_from={{ q_from }}&page={{ page + 1 }}">&gt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/search?query={{ query }}&query_from={{ q_from }}&page={{ page_count }}">&gt;&gt;</a></span>
    {% endif %}
</p>
{% endif %}

{% else %}
<p>
    Hakusanalla <i>{{ query }}</i> ei löytynyt kirjakerhoja.
</p>
{% endif %}
{% endif %}
{% endblock %}