{% extends "layout.html" %}

{% block title %}{{ bookclub.title }}{% endblock %}

{% block content %}

<h1> {{ bookclub.title }} </h1>

{% for class in classes %}
<span class="genres">{{ class.value }}</span>
{% endfor %}

<p>
    Kirjoittanut {{ bookclub.author }}
</p>
<p>
    {% if bookclub.closed == 1 %}
    Viimeinen osallistumispäivä oli {{ deadline }} Kirjakerho on sulkeutunut.
    {% else %}
    Viimeinen osallistumispäivä on {{ deadline }}
    {% endif %}
</p>
<p>
    Kirjakerhon omistaja &ndash; <a href="/user/{{ bookclub.user_id }}">{{ bookclub.username }}</a>
</p>
{% if bookclub.user_id == session.user_id %}
<p>
    <a href="/edit_club/{{ bookclub.id }}">Muokkaa</a> |
    <a href="/remove_club/{{ bookclub.id }}">Poista</a>
</p>
{% endif %}

<h2>Arvostelut</h2>

{% if reviews %}
{% for review in reviews %}
<div class="box" id="{{ review.id }}">
    <p style="float: right; font-size: 13px; text-align: right;">{{ review.sent_at }}
        {% if review.modified_at %}
        </br><em>muokattu {{ review.modified_at }}</em>
        {% endif %}
    </p>
    <p style="font-size: 20px;">
        {% if review.stars == 5 %}
        ★★★★★
        {% elif review.stars == 4 %}
        ★★★★☆
        {% elif review.stars == 3 %}
        ★★★☆☆
        {% elif review.stars == 2 %}
        ★★☆☆☆
        {% elif review.stars == 1 %}
        ★☆☆☆☆
        {% endif %}
    </p>
    <p>{{ review.content| show_lines }} </p>
    <p>
        &ndash; <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
    </p>
    {% if review.user_id == session.user_id %}
    <p style="font-size: 13px;">
        <a href="/edit_review/{{ review.id }}">Muokkaa</a> |
        <a href="/remove_review/{{ review.id }}">Poista</a>
    </p>
    {% endif %}
</div>
{% endfor %}
<p>
    {% if review_count > 5 %}
    <a href="/bookclub/reviews/{{ bookclub.id }}/page/1">Näytä kaikki arvostelut</a>
    {% endif %}
</p>
{% else %}
<p>Kirjakerholla ei vielä ole arvosteluja.</p>
{% endif %}

{% if session.username and bookclub.closed != 1 %}
<h2>Lähetä arvostelu</h2>

<form action="/new_review" method="post">
    <p>
        Tähdet: <br />
        <input id="five_stars" type="radio" name="stars" value="5">
        <label for="five_stars">★★★★★</label> <br />
        <input id="four_stars"type="radio" name="stars" value="4">
        <label for="four_stars">★★★★☆</label> <br />
        <input id="three_stars"type="radio" name="stars" value="3">
        <label for="three_stars">★★★☆☆</label> <br />
        <input id="two_stars"type="radio" name="stars" value="2">
        <label for="two_stars">★★☆☆☆</label> <br />
        <input id="one_star"type="radio" name="stars" value="1">
        <label for="one_star">★☆☆☆☆</label> <br />
    </p>
    <p>
        <label for="review_content">Arvostelu:</label> <br />
        <textarea 
            id="review_content"
            type="text"
            name="content"
            rows="5"
            cols="40"></textarea>
    </p>
    <input type="hidden" name="club_id" value="{{ bookclub.id }}" />
    <input type="hidden" name="closed" value="{{ bookclub.closed }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
</form>
{% endif %}

{% endblock %}