{% extends "layout.html" %}

{% block title %} Käyttäjän {{ user.username }} kirjakerhot {% endblock %}

{% block content %}

<h1> Käyttäjän {{ user.username }} kirjakerhot </h1>

{% for club in bookclubs %}
<div class="box">
    <p style="float: right; font-size: 13px;">
        {% if club.deadline < now %}
        <span style="color: rgb(133, 39, 39);">Sulkeutunut</span>
        {% else %}
        <span style="color: rgb(58, 102, 45);">Avoinna</span>
        {% endif %}
    </p>
    <p>
        <a href="/bookclub/{{ club.id }}">{{ club.title }}</a>, {{ club.author }}
    </p>
</div>
{% endfor %}

{% if page_count > 1 %}
<p style="font-size: 13px;">
    {% if page > 1 %}
    <span class="page_navi">
        <a id="next_prev" href="/user/bookclubs/{{ user.id }}/page/1">&lt;&lt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/user/bookclubs/{{ user.id }}/page/{{ page - 1 }}">&lt;</a></span>
    {% endif %}
    Sivu {{ page }} / {{ page_count }}
    {% if page < page_count %}
    <span class="page_navi">
        <a id="next_prev" href="/user/bookclubs/{{ user.id }}/page/{{ page + 1 }}">&gt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/user/bookclubs/{{ user.id }}/page/{{ page_count }}">&gt;&gt;</a></span>
    {% endif %}
</p>
{% endif %}

{% endblock %}