{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  
{% if user.has_image %}
<div class="profile_picture">
    <img src="/image/{{ user.id }}"
    alt="Käyttäjän {{user.username}} profiilikuva"
    width="150"
    height="150" />
</div>
{% else %}
<div class="no_prof_pic"></div>
{% endif %}

<h1> {{ user.username }} </h1>

{% if club_count == 1 %}
<p> Käyttäjällä on {{ club_count }} oma kirjakerho. </p>
{% else %}
<p> Käyttäjällä on {{ club_count }} omaa kirjakerhoa. </p>
{% endif %}

{% if review_count == 1 %}
<p> Käyttäjä on kirjoittanut {{ review_count }} arvostelun.</p>
{% else %}
<p> Käyttäjä on kirjoittanut {{ review_count }} arvostelua. </p>
{% endif %}

{% if user.id == session.user_id %}
<p>
    {% if user.has_image %}
    <a href="/add_image">Muokkaa profiilikuvaa</a> |
    {% else %}
    <a href="/add_image">Lisää profiilikuva</a> |
    {% endif %}
    <a href="/remove_user/{{ user.id }}">Poista käyttäjätunnus</a>
</p> 
{% else %}
<br />
{% endif %}

<br />

<h2>Kirjakerhot</h2>

{% if not bookclubs %}
<p>Ei vielä yhtään kirjakerhoa.</p>
{% else %}
{% for club in bookclubs %}
<div class="box">
    <p>
        <a href="/bookclub/{{ club.id }}">{{ club.title }}</a>, {{ club.author }}
    </p>
</div>
{% endfor %}
<p>
    {% if club_count > 5 %}
    <a href="/user/bookclubs/{{ user.id }}/page/1">Näytä kaikki kirjakerhot</a>
    {% endif %}
</p>
{% endif %}

<h2>Arvostelut</h2>

{% if not reviews %}
<p>Ei vielä yhtään arvostelua.</p>
{% else %}
{% for review in reviews %}
<div class="box">
    <p style="float: right; font-size: 13px; text-align: right;">{{ review.sent_at }}</p>
    <p>
        {% if review.stars == 5 %}
        ★★★★★
        {% elif review.stars == 4 %}
        ★★★★☆
        {% elif review.stars == 3 %}
        ★★★☆☆
        {% elif review.stars == 2 %}
        ★★☆☆☆
        {% elif review.stars == 1 %}
        ★☆☆☆☆
        {% endif %}
         &ndash; 
        <a href="/bookclub/{{ review.club_id }}">{{ review.club_title }}</a>, {{ review.club_author }}
    </p>
</div>
{% endfor %}
<p>
    {% if review_count > 5 %}
    <a href="/user/reviews/{{ user.id }}/page/1">Näytä kaikki arvostelut</a>
    {% endif %}
</p>
{% endif %}

{% endblock %}