{% extends "layout.html" %}

{% block title %} Käyttäjän {{ user.username }} lähettämät arvostelut {% endblock %}

{% block content %}

<h1> Käyttäjän {{ user.username }} lähettämät arvostelut </h1>

{% if reviews %}
{% for review in reviews %}
<div class="box">
    <p style="float: right; font-size: 13px; text-align: right;">{{ review.sent_at }}</p>
    <p>
        {% if review.stars == 5 %}
        ★★★★★
        {% elif review.stars == 4 %}
        ★★★★☆
        {% elif review.stars == 3 %}
        ★★★☆☆
        {% elif review.stars == 2 %}
        ★★☆☆☆
        {% elif review.stars == 1 %}
        ★☆☆☆☆
        {% endif %}
         &ndash; 
        <a href="/bookclub/{{ review.club_id }}">{{ review.club_title }}</a>, {{ review.club_author }}
    </p>
</div>
{% endfor %}
{% else %}
<p>Käyttäjä {{ user.username }} ei vielä ole lähettänyt arvosteluja.</p>
{% endif %}

{% if page_count > 1 %}
<p style="font-size: 13px;">
    {% if page > 1 %}
    <span class="page_navi">
        <a id="next_prev" href="/user/reviews/{{ user.id }}/page/1">&lt;&lt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/user/reviews/{{ user.id }}/page/{{ page - 1 }}">&lt;</a></span>
    {% endif %}
    Sivu {{ page }} / {{ page_count }}
    {% if page < page_count %}
    <span class="page_navi">
        <a id="next_prev" href="/user/reviews/{{ user.id }}/page/{{ page + 1 }}">&gt;</a></span>
    <span class="page_navi">
        <a id="next_prev" href="/user/reviews/{{ user.id }}/page/{{ page_count }}">&gt;&gt;</a></span>
    {% endif %}
</p>
{% endif %}

{% endblock %}